{% extends "learning_logs/base.html" %}

{% block page_header %}
  <div class="p-1 mb-4 bg-light rounded-3">
    <div class="container-fluid py-2  text-center">
        <h1 class="display-3">track your learning 辅自然于万物.</h1>

        <p class="lead">     Learning Log is a simple app to help you track your learning progress  修其心 修其天下.</p>


        <a class="btn btn-primary btn-lg mt-5" 
        href="{% url 'accounts:register' %}">Register &raquo;</a>

    </div>
    </div>
{% endblock page_header %}
     



